main section {
  width: 100%;
  height: 50rem;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/src//assets/images/img-bg-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10rem;
}
section .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 0, 128, 0.347);
}
main {
  height: 100rem;
}

svg {
  position: absolute;
  top: 60%;
}
/* main .article {
  width: 100%;
  height: 50rem;
  background-color: white; */
/* } */
main .content

{
  width: 100%;
  height: 50rem;
  background-color: #7c3aed;
  position: absolute;
  top: 102%;
}